<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.study.mapper.ScheduleMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.study.model.Schedule">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hoscode" column="hoscode" jdbcType="VARCHAR"/>
            <result property="depcode" column="depcode" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="docname" column="docname" jdbcType="VARCHAR"/>
            <result property="skill" column="skill" jdbcType="VARCHAR"/>
            <result property="workDate" column="work_date" jdbcType="DATE"/>
            <result property="workTime" column="work_time" jdbcType="TINYINT"/>
            <result property="reservedNumber" column="reserved_number" jdbcType="INTEGER"/>
            <result property="availableNumber" column="available_number" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hoscode,depcode,
        title,docname,skill,
        work_date,work_time,reserved_number,
        available_number,amount,status,
        create_time,update_time,is_deleted
    </sql>
</mapper>
